#!/usr/bin/env bash

: "${PRINTER_NAME:=mk4}"
: "${PRINTER_IP:=192.168.1.10}"
# Fetch printer API key from your printer (PrusaLink API key)
: "${PRINTER_API_KEY:=some_api_key}"
# Fetch from `v4l2-ctl --list-devices`
: "${CAMERA_NAME:=HD Pro Webcam C920}"
# Generate with something like `pwgen 32 1 | base64`
: "${FINGERPRINT:=some_fingerprint}"
# Fetch from Prusa Connect > Camera > Other cameras
: "${TOKEN:=some_token}"
